* {
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    pointer-events: none;
    display: block;
    font-size: 0 ;
}


body {
    background-color: #fff;
    height: 100vh;
	width:100%;
	
}

#all {
	background-color:#fffef5;
	height:100vh;
	width:100%;
	display: flex;
    flex-direction: column;
	justify-content:center;
}

.number {
	margin:auto;
	font-weight: bold;
	position:absolute;
	width:100%;
	text-align:center;	
}

.number p{
	padding-top:2em;
}

.muyu {
	background-color:#e7cead;
    margin: auto;
	height:100%;
	width:100%;
	max-width:600px;
	padding-top:10%;
	text-align:center;
	
}

.qiao:active {
  animation: zoomLarge 0.5s ;
}

.muyu img{
	margin:auto;
	width:60%;
}

.give{
	margin-top:4em;
	padding:1em;
}

.word{
	height:3em;
}
#jiayi{
	display: none;
	position: relative;
	color:#906022;
	animation: moving 1s infinite;
}


/*动画效果*/	
@keyframes zoomLarge {
    from 0% {
        transform:scale(0)
    }
    
    50% {
        transform:scale(1.1)
    }
    
    to {
        transform:scale(0)
    }
}


@keyframes moving {
    from {bottom: 0px;opacity:1}
    to {bottom: 80px;opacity:0}
	
}

/*自适应*/
@media only screen and (max-width: 780px) {
  .muyu {
	padding-top:50%;
	}
	@keyframes moving {
    from {bottom: 0px;opacity:1}
    to {bottom: 100px;opacity:0}
	
}
}